#footer {
  background: #004693;
  padding: 64px 0px; }
  #footer .logo-ft {
    max-width: 100px; }
    #footer .logo-ft img {
      width: 100%;
      height: auto;
      vertical-align: middle; }
  #footer .cp-right {
    padding-top: 40px; }
    #footer .cp-right p {
      color: #D9DBE1;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px; }
      #footer .cp-right p:last-child {
        margin-bottom: unset; }
  #footer .social-media {
    display: flex;
    align-items: center;
    padding-top: 40px; }
    #footer .social-media li {
      margin-right: 16px; }
      #footer .social-media li:last-child {
        margin-right: unset; }
      #footer .social-media li a {
        width: 32px;
        height: 32px; }
        #footer .social-media li a img {
          width: 100%;
          height: 100%;
          vertical-align: middle; }
  #footer .ft-title h4 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; }
  #footer .ft-link {
    padding-top: 24px; }
    #footer .ft-link li {
      margin-bottom: 12px; }
      #footer .ft-link li:last-child {
        margin-bottom: unset; }
      #footer .ft-link li a {
        color: #D9DBE1;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px; }
  #footer .ft-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    background: rgba(242, 244, 251, 0.5);
    border-radius: 40px;
    overflow: hidden;
    margin-top: 24px; }
    #footer .ft-form input {
      border: none;
      outline: none;
      background: transparent;
      width: 100%;
      height: 100%;
      padding-left: 12px;
      color: #fff;
      font-size: 14px;
      line-height: 20px; }
      #footer .ft-form input::placeholder {
        color: #fff;
        font-size: 14px; }
    #footer .ft-form button {
      border: none;
      outline: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      padding: 0;
      margin-right: 12px; }
  #footer .laws {
    padding-top: 24px; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4472C4; }
    #footer a.cd-top .fa {
      color: #Fff; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
