@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
.header-main {
  height: 72px;
  display: flex;
  align-items: center; }
@keyframes fade {
  0% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
  .header-main.stuck {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
    animation: fade .5s forwards; }
  .header-main .container {
    padding-left: 0;
    padding-right: 0; }
  .header-main .moblie-bar {
    display: none; }
  .header-main .header-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .header-main .logo {
    max-width: 100px;
    height: auto; }
    .header-main .logo img {
      width: 100%;
      vertical-align: middle; }
  .header-main .main-menu {
    display: flex;
    align-items: center;
    padding-left: 32px; }
    .header-main .main-menu li {
      margin-right: 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      color: #323239;
      position: relative; }
      .header-main .main-menu li:last-child {
        margin-right: unset; }
      .header-main .main-menu li.has-child a::after {
        content: "\f107";
        font-family: "fontawesome";
        color: #323239;
        padding-left: 4px; }
      .header-main .main-menu li.has-child:hover ul {
        display: flex;
        animation: fade .3s forwards; }
        .header-main .main-menu li.has-child:hover ul li a {
          color: #323239; }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .header-main .main-menu li:hover a {
        color: #004693; }
      .header-main .main-menu li a {
        transition: .3s;
        position: relative;
        display: block; }
      .header-main .main-menu li ul {
        position: absolute;
        width: 200px;
        height: auto;
        display: none;
        flex-direction: column;
        background: #fff;
        margin: 0;
        padding: 0;
        border-radius: 6px;
        box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
        z-index: 60; }
        .header-main .main-menu li ul li {
          margin-right: unset;
          line-height: 1.5; }
          .header-main .main-menu li ul li a {
            padding: 8px 16px;
            color: #323239; }
            .header-main .main-menu li ul li a::after {
              display: none; }
  .header-main .download-app {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .header-main .download-app li {
      margin-right: 13px; }
      .header-main .download-app li:last-child {
        margin-right: unset; }

/*# sourceMappingURL=header.css.map */
