.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  background: transparent; }
  .keen-slider__slide {
    position: relative;
    width: 100%;
    min-height: 100%; }
  .keen-slider[data-keen-slider-v] {
    flex-wrap: wrap; }
  .keen-slider[data-keen-slider-v] .keen-slider__slide {
    width: 100%; }
  .keen-slider[data-keen-slider-moves] * {
    pointer-events: none; }

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer; }

.arrow--left {
  left: 5px; }

.arrow--right {
  left: auto;
  right: 5px; }

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #D3E1FF;
  border-radius: 50%;
  margin: 0 10px;
  padding: 5px;
  cursor: pointer; }

.dot:focus {
  outline: none; }

.dot--active {
  background: #4472C4; }

.main-slider {
  position: relative; }
  .main-slider .dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%); }

.slider-product .navigation-wrapper {
  position: relative; }
.slider-product .dots {
  text-align: center;
  margin-top: 10px; }
.slider-product .arrow {
  border: none;
  outline: none;
  background: #FFFFFF;
  opacity: 0.7;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .slider-product .arrow img {
    width: 30px;
    height: 30px; }
  .slider-product .arrow.arrow--left {
    left: 0; }
  .slider-product .arrow.arrow--right {
    right: 0; }

.content-slide {
  position: relative; }
  .content-slide .navigation-wrapper {
    position: relative; }
  .content-slide .arr-box {
    display: flex;
    align-items: center;
    max-width: 120px;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px; }
  .content-slide .arrow {
    position: static;
    transform: translateY(0);
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background: none;
    outline: none;
    border: 2px solid #B8BAC1;
    color: #B8BAC1;
    margin: 0;
    padding: 0;
    font-size: 18px;
    border-radius: 100%; }
    .content-slide .arrow:hover {
      border: 2px solid #4472C4;
      color: #4472C4; }

.sl-2 {
  position: relative; }
  .sl-2 .dots {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    bottom: 64px;
    width: 28px;
    height: 28px; }
    .sl-2 .dots::before {
      content: "" attr(data-number) "";
      padding-left: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #797C8D; }
    .sl-2 .dots .dot {
      margin: 0px;
      padding: 0;
      position: absolute;
      left: 0px;
      top: 0;
      width: auto;
      height: auto;
      border-radius: unset;
      opacity: 0;
      visibility: hidden;
      background: none;
      color: #797C8D;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px; }
      .sl-2 .dots .dot.dot--active {
        opacity: 1;
        visibility: visible; }

/*# sourceMappingURL=keen-slider.css.map */
