@media only screen and (max-width: 886px) {
  #footer .row .col-12 {
    padding-top: 20px; }

  .contact-us .row .col-12:last-child {
    padding-top: 20px; }

  .our-app {
    position: relative;
    background-image: url("../images/img/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .our-app .home-title {
      z-index: 6; }
    .our-app::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.616);
      z-index: 1; }
    .our-app .row .col-12 {
      position: relative;
      z-index: 5; }
      .our-app .row .col-12:last-child {
        display: none; } }
@media only screen and (max-width: 576px) {
  .header-main {
    position: relative; }
    .header-main .main-menu {
      display: none; }
    .header-main .moblie-bar {
      display: block; }
      .header-main .moblie-bar .hc-nav-trigger {
        top: 50%;
        transform: translateY(-50%);
        border: none;
        outline: none;
        background: none;
        color: #4472C4; }
    .header-main .header-nav.nav-left {
      margin: auto; }
    .header-main .header-nav.nav-right {
      display: none; }

  .banner {
    font-size: 45%; }
    .banner__caption {
      background: rgba(249, 252, 255, 0.67);
      left: 0;
      text-align: left;
      border-radius: unset; }
      .banner__caption .btn-navigation {
        height: 30px;
        font-size: 13px;
        margin: 0;
        margin-top: 13px;
        padding: 0px 12px; }
        .banner__caption .btn-navigation .fa {
          width: 18px;
          height: 18px; }

  .main-slider .dots {
    bottom: 7px; }

  .home-title {
    font-size: 37%; }
    .home-title__main {
      line-height: 30px; }

  .our-advantage .row .col-12 {
    padding-top: 15px; }
    .our-advantage .row .col-12:first-child {
      padding-top: unset; }

  .icon-box {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .icon-box img {
      width: 90px;
      height: 90px;
      object-fit: cover; }
    .icon-box .text {
      padding-top: 0px;
      padding-left: 15px;
      text-align: left; }

  .our-app__box {
    font-size: 45%; }
    .our-app__box--list li::before {
      width: 30px;
      height: 30px;
      top: -1px; }
    .our-app__box--list li span {
      padding-left: 42px; }
  .our-app .row .col-12 {
    position: relative;
    z-index: 5; }
    .our-app .row .col-12:last-child {
      display: none; }
  .our-app .btn-navigation {
    height: 30px;
    font-size: 13px;
    margin: 0;
    margin-top: 13px;
    padding: 0px 12px; }
    .our-app .btn-navigation .fa {
      width: 18px;
      height: 18px; }

  .info-company .social-contact::before {
    display: none; }

  .blog-post__text {
    padding-top: 10px; }

  .blogs-title {
    font-size: 50%; }

  .tiny-breadcumb .breadcrumb-item {
    font-size: 14px; }

  #footer .row .col-12 {
    padding-top: 20px; }
    #footer .row .col-12:first-child {
      padding-top: unset; } }

/*# sourceMappingURL=responsive.css.map */
