@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.btn-navigation {
  width: max-content;
  height: 46px;
  border: none;
  outline: none;
  letter-spacing: -0.01em;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  background: #4472C4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  transition: .3s;
}
.btn-navigation .fa {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-left: 6.5px;
}
.btn-navigation:hover {
  background: #365b9b;
  color: #fff;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.icon-box .text {
  padding-top: 30px;
  text-align: center;
}
.icon-box .text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4472C4;
}

.blogs-post {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.blogs-post__images a {
  position: relative;
  padding-top: 72.6%;
  overflow: hidden;
  display: block;
}
.blogs-post__images img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.blogs-post__text {
  padding-top: 10px;
}
.blogs-post__text--cate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blogs-post__text--cate .link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #004693;
}
.blogs-post__text--cate .date {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #797C8D;
}
.blogs-post__text--title {
  color: #323239;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding-top: 10px;
}
.blogs-post__text--description {
  color: #46464F;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  padding-top: 4px;
}

.comments-box {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px;
}
.comments-box .media a img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 100%;
}
.comments-box .media .media-body {
  margin-left: 10px;
}
.comments-box .media .media-body h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #004693;
}
.comments-box .media .media-body p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #797C8D;
}
.comments-box .description {
  font-size: 14px;
  line-height: 20px;
  color: #46464F;
  padding-top: 10px;
}

.contact-form {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px;
}
.contact-form label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #46464F;
}
.contact-form .form-control {
  height: 30px;
  border: none;
  border-bottom: 1px solid #D3E1FF;
  background: transparent;
  padding-left: unset;
  box-shadow: unset;
  border-radius: unset;
  margin-top: 20px;
}
.contact-form .form-control:focus {
  border-bottom: 1px solid #39419A;
}
.contact-form .form-control::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.contact-form .btn-navigation {
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  margin-top: 20px;
}

.info-company {
  padding: 30px;
  background: #D3E1FF;
  border-radius: 20px;
}
.info-company label {
  color: #004693;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.info-company .list-contact li {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4472C4;
  margin-top: 20px;
  position: relative;
}
.info-company .list-contact li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0;
  top: -1px;
}
.info-company .list-contact li:nth-child(1)::before {
  background-image: url("../images/icons/phone.svg");
}
.info-company .list-contact li:nth-child(2)::before {
  background-image: url("../images/icons/email.svg");
}
.info-company .list-contact li:nth-child(3)::before {
  background-image: url("../images/icons/map.svg");
}
.info-company .list-contact li p {
  display: block;
  padding-left: 28px;
}
.info-company .social-contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 20px;
  position: relative;
}
.info-company .social-contact::before {
  content: "";
  position: absolute;
  width: 68%;
  height: 1px;
  background: #fff;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.info-company .social-contact ul {
  display: flex;
  align-items: center;
}
.info-company .social-contact ul li {
  margin-right: 16px;
}
.info-company .social-contact ul li:last-child {
  margin-right: unset;
}
.info-company .social-contact ul li a {
  width: 24px;
  height: 24px;
}
.info-company .social-contact ul li a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.main-breadcumb {
  background: #D3E1FF;
}
.main-breadcumb ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-breadcumb ul li {
  position: relative;
  display: flex;
  align-items: center;
}
.main-breadcumb ul li:first-child::before {
  display: none;
}
.main-breadcumb ul li::before {
  content: "";
  width: 18px;
  height: 28px;
  display: block;
  left: 0;
  top: 0;
  background-image: url("../images/icons/breadcumb_ar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px 8px;
}
.main-breadcumb ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4472C4;
  padding: 4px;
}

.blog-post {
  margin-bottom: 30px;
}
.blog-post:last-child {
  margin-bottom: unset;
}
.blog-post__images {
  position: relative;
  display: block;
  padding-top: 66.66%;
}
.blog-post__images img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.blog-post__text--title {
  color: #3C4766;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.blog-post__text--date {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.blog-post__text--date p {
  color: #797C8D;
  font-size: 14px;
  line-height: 20px;
}
.blog-post__text--date a {
  color: #799FF7;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
}
.blog-post__text--description {
  font-size: 16px;
  line-height: 24px;
  color: #46464F;
  padding-top: 10px;
}
.blog-post__text--read {
  color: #004693;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.blog-post__text--read::after {
  content: "\f105";
  font-family: "fontawesome";
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #004693;
  border-radius: 100%;
  color: #004693;
  margin-left: 6.5px;
}

.pages-divide {
  display: flex;
  justify-content: center;
}
.pages-divide .pagination {
  display: flex;
  align-items: center;
}
.pages-divide .pagination .page-item {
  margin-right: 16px;
}
.pages-divide .pagination .page-item:last-child {
  margin-right: unset;
}
.pages-divide .pagination .page-item:hover .page-link {
  background: #4472C4;
  color: #fff;
  border-color: #4472C4;
}
.pages-divide .pagination .page-item .page-link {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 2px solid #799FF7;
  box-sizing: border-box;
  border-radius: 100%;
  font-weight: 500;
  font-size: 12px;
  color: #799FF7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.pages-divide .pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem #799ff756;
  border-color: #799ff756;
}
.pages-divide .pagination .page-item.dots:hover .page-link {
  background: none;
}
.pages-divide .pagination .page-item.dots:hover .page-link .dot {
  opacity: 1;
}
.pages-divide .pagination .page-item.dots:hover .page-link:focus, .pages-divide .pagination .page-item.dots:hover .page-link:visited {
  box-shadow: unset;
  border: unset;
}
.pages-divide .pagination .page-item.dots .page-link {
  width: auto;
  border: none;
  background: none;
  padding: 0;
}
.pages-divide .pagination .page-item.dots .page-link .dot {
  width: 6px;
  height: 6px;
  background: #D3E1FF;
  opacity: 0.6;
  border-radius: 100%;
  margin-right: 4px;
  transition: .3s;
  margin-left: unset;
}
.pages-divide .pagination .page-item.dots .page-link .dot:last-child {
  margin-right: unset;
}

.header-main {
  height: 72px;
  display: flex;
  align-items: center;
}
@keyframes fade {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.header-main.stuck {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  animation: fade .5s forwards;
}
.header-main .container {
  padding-left: 0;
  padding-right: 0;
}
.header-main .moblie-bar {
  display: none;
}
.header-main .header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-main .logo {
  max-width: 100px;
  height: auto;
}
.header-main .logo img {
  width: 100%;
  vertical-align: middle;
}
.header-main .main-menu {
  display: flex;
  align-items: center;
  padding-left: 32px;
}
.header-main .main-menu li {
  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  color: #323239;
  position: relative;
}
.header-main .main-menu li:last-child {
  margin-right: unset;
}
.header-main .main-menu li.has-child a::after {
  content: "\f107";
  font-family: "fontawesome";
  color: #323239;
  padding-left: 4px;
}
.header-main .main-menu li.has-child:hover ul {
  display: flex;
  animation: fade .3s forwards;
}
.header-main .main-menu li.has-child:hover ul li a {
  color: #323239;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-main .main-menu li:hover a {
  color: #004693;
}
.header-main .main-menu li a {
  transition: .3s;
  position: relative;
  display: block;
}
.header-main .main-menu li ul {
  position: absolute;
  width: 200px;
  height: auto;
  display: none;
  flex-direction: column;
  background: #fff;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  z-index: 60;
}
.header-main .main-menu li ul li {
  margin-right: unset;
  line-height: 1.5;
}
.header-main .main-menu li ul li a {
  padding: 8px 16px;
  color: #323239;
}
.header-main .main-menu li ul li a::after {
  display: none;
}
.header-main .download-app {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-main .download-app li {
  margin-right: 13px;
}
.header-main .download-app li:last-child {
  margin-right: unset;
}

#footer {
  background: #004693;
  padding: 64px 0px;
}
#footer .logo-ft {
  max-width: 100px;
}
#footer .logo-ft img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
#footer .cp-right {
  padding-top: 40px;
}
#footer .cp-right p {
  color: #D9DBE1;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
#footer .cp-right p:last-child {
  margin-bottom: unset;
}
#footer .social-media {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
#footer .social-media li {
  margin-right: 16px;
}
#footer .social-media li:last-child {
  margin-right: unset;
}
#footer .social-media li a {
  width: 32px;
  height: 32px;
}
#footer .social-media li a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
#footer .ft-title h4 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
#footer .ft-link {
  padding-top: 24px;
}
#footer .ft-link li {
  margin-bottom: 12px;
}
#footer .ft-link li:last-child {
  margin-bottom: unset;
}
#footer .ft-link li a {
  color: #D9DBE1;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
#footer .ft-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  background: rgba(242, 244, 251, 0.5);
  border-radius: 40px;
  overflow: hidden;
  margin-top: 24px;
}
#footer .ft-form input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
#footer .ft-form input::placeholder {
  color: #fff;
  font-size: 14px;
}
#footer .ft-form button {
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-right: 12px;
}
#footer .laws {
  padding-top: 24px;
}
#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4472C4;
}
#footer a.cd-top .fa {
  color: #Fff;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 10px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #004693;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #004693;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

.wrapper.cf {
  animation: fade 3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
}
.keen-slider__slide {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.keen-slider[data-keen-slider-v] {
  flex-wrap: wrap;
}
.keen-slider[data-keen-slider-v] .keen-slider__slide {
  width: 100%;
}
.keen-slider[data-keen-slider-moves] * {
  pointer-events: none;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #D3E1FF;
  border-radius: 50%;
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #4472C4;
}

.main-slider {
  position: relative;
}
.main-slider .dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.slider-product .navigation-wrapper {
  position: relative;
}
.slider-product .dots {
  text-align: center;
  margin-top: 10px;
}
.slider-product .arrow {
  border: none;
  outline: none;
  background: #FFFFFF;
  opacity: 0.7;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slider-product .arrow img {
  width: 30px;
  height: 30px;
}
.slider-product .arrow.arrow--left {
  left: 0;
}
.slider-product .arrow.arrow--right {
  right: 0;
}

.content-slide {
  position: relative;
}
.content-slide .navigation-wrapper {
  position: relative;
}
.content-slide .arr-box {
  display: flex;
  align-items: center;
  max-width: 120px;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
}
.content-slide .arrow {
  position: static;
  transform: translateY(0);
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  background: none;
  outline: none;
  border: 2px solid #B8BAC1;
  color: #B8BAC1;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border-radius: 100%;
}
.content-slide .arrow:hover {
  border: 2px solid #4472C4;
  color: #4472C4;
}

.sl-2 {
  position: relative;
}
.sl-2 .dots {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-45%);
  bottom: 64px;
  width: 28px;
  height: 28px;
}
.sl-2 .dots::before {
  content: "" attr(data-number) "";
  padding-left: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #797C8D;
}
.sl-2 .dots .dot {
  margin: 0px;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 0;
  width: auto;
  height: auto;
  border-radius: unset;
  opacity: 0;
  visibility: hidden;
  background: none;
  color: #797C8D;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.sl-2 .dots .dot.dot--active {
  opacity: 1;
  visibility: visible;
}

.main-slider .container {
  padding-left: 0;
  padding-right: 0;
}

.banner {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 10px;
  padding-top: 69.2%;
  overflow: hidden;
}
.banner img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.banner__caption {
  position: absolute;
  max-width: 510px;
  background: rgba(249, 252, 255, 0.9);
  border-radius: 20px;
  padding: 30px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.banner__caption--title {
  font-weight: 500;
  font-size: 2.8em;
  line-height: 42px;
  color: #004693;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.banner__caption--descript {
  font-size: 1.8em;
  font-weight: 500;
  color: #797C8D;
  line-height: 28px;
  padding-top: 30px;
}
.banner__caption .btn-navigation {
  margin: auto;
  margin-top: 20px;
}

.home-title {
  font-size: 10px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.home-title::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background: #D3E1FF;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  z-index: 6;
  display: block;
}
.home-title__main {
  font-weight: 500;
  font-size: 4em;
  line-height: 60px;
  color: #004693;
  text-transform: uppercase;
}
.home-title__sub {
  font-size: 1.8em;
  color: #46464F;
  line-height: 28px;
  padding-top: 10px;
}

.our-advantage .container {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #F9FCFF;
}

.our-app {
  padding: 64px 0px;
}
.our-app__box {
  font-size: 10px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px;
  height: 100%;
}
.our-app__box--list {
  font-size: 1.8em;
}
.our-app__box--list li {
  color: #797C8D;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  margin-bottom: 24px;
}
.our-app__box--list li::before {
  content: "" attr(data-number) "";
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #799FF7;
  box-sizing: border-box;
  border-radius: 100%;
  background: #fff;
  color: #799FF7;
  position: absolute;
  left: 0;
  top: -2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.our-app__box--list li span {
  position: relative;
  display: block;
  padding-left: 46px;
}

.our-blogs {
  position: relative;
}
.our-blogs .container {
  background: #F9FCFF;
  padding-top: 64px;
  padding-bottom: 64px;
}

.customer-comments .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.contact-us .container {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #F9FCFF;
}

.main-blogs {
  padding-top: 64px;
  padding-bottom: 64px;
}

.blogs-title {
  font-size: 10px;
  border-bottom: 2px solid #D3E1FF;
  margin-bottom: 30px;
}
.blogs-title p {
  font-size: 4em;
  font-weight: 500;
  color: #323239;
}

.tiny-breadcumb .breadcrumb {
  background: unset;
  border-radius: unset;
  padding: 10px 0px;
  margin-bottom: unset;
}
.tiny-breadcumb .breadcrumb-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.tiny-breadcumb .breadcrumb-item a {
  color: #004693;
}
.tiny-breadcumb .breadcrumb-item.active a {
  color: #797C8D;
}

.pages {
  border-top: 2px solid #D3E1FF;
  padding-top: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 886px) {
  #footer .row .col-12 {
    padding-top: 20px;
  }

  .contact-us .row .col-12:last-child {
    padding-top: 20px;
  }

  .our-app {
    position: relative;
    background-image: url("../images/img/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .our-app .home-title {
    z-index: 6;
  }
  .our-app::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.616);
    z-index: 1;
  }
  .our-app .row .col-12 {
    position: relative;
    z-index: 5;
  }
  .our-app .row .col-12:last-child {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .header-main {
    position: relative;
  }
  .header-main .main-menu {
    display: none;
  }
  .header-main .moblie-bar {
    display: block;
  }
  .header-main .moblie-bar .hc-nav-trigger {
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background: none;
    color: #4472C4;
  }
  .header-main .header-nav.nav-left {
    margin: auto;
  }
  .header-main .header-nav.nav-right {
    display: none;
  }

  .banner {
    font-size: 45%;
  }
  .banner__caption {
    background: rgba(249, 252, 255, 0.67);
    left: 0;
    text-align: left;
    border-radius: unset;
  }
  .banner__caption .btn-navigation {
    height: 30px;
    font-size: 13px;
    margin: 0;
    margin-top: 13px;
    padding: 0px 12px;
  }
  .banner__caption .btn-navigation .fa {
    width: 18px;
    height: 18px;
  }

  .main-slider .dots {
    bottom: 7px;
  }

  .home-title {
    font-size: 37%;
  }
  .home-title__main {
    line-height: 30px;
  }

  .our-advantage .row .col-12 {
    padding-top: 15px;
  }
  .our-advantage .row .col-12:first-child {
    padding-top: unset;
  }

  .icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon-box img {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .icon-box .text {
    padding-top: 0px;
    padding-left: 15px;
    text-align: left;
  }

  .our-app__box {
    font-size: 45%;
  }
  .our-app__box--list li::before {
    width: 30px;
    height: 30px;
    top: -1px;
  }
  .our-app__box--list li span {
    padding-left: 42px;
  }
  .our-app .row .col-12 {
    position: relative;
    z-index: 5;
  }
  .our-app .row .col-12:last-child {
    display: none;
  }
  .our-app .btn-navigation {
    height: 30px;
    font-size: 13px;
    margin: 0;
    margin-top: 13px;
    padding: 0px 12px;
  }
  .our-app .btn-navigation .fa {
    width: 18px;
    height: 18px;
  }

  .info-company .social-contact::before {
    display: none;
  }

  .blog-post__text {
    padding-top: 10px;
  }

  .blogs-title {
    font-size: 50%;
  }

  .tiny-breadcumb .breadcrumb-item {
    font-size: 14px;
  }

  #footer .row .col-12 {
    padding-top: 20px;
  }
  #footer .row .col-12:first-child {
    padding-top: unset;
  }
}
