@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
.btn-navigation {
  width: max-content;
  height: 46px;
  border: none;
  outline: none;
  letter-spacing: -0.01em;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  background: #4472C4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  transition: .3s; }
  .btn-navigation .fa {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-left: 6.5px; }
  .btn-navigation:hover {
    background: #365b9b;
    color: #fff; }

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icon-box img {
    width: 150px;
    height: 150px;
    object-fit: cover; }
  .icon-box .text {
    padding-top: 30px;
    text-align: center; }
    .icon-box .text p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #4472C4; }

.blogs-post {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px;
  overflow: hidden; }
  .blogs-post__images a {
    position: relative;
    padding-top: 72.6%;
    overflow: hidden;
    display: block; }
  .blogs-post__images img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; }
  .blogs-post__text {
    padding-top: 10px; }
    .blogs-post__text--cate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .blogs-post__text--cate .link {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #004693; }
      .blogs-post__text--cate .date {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #797C8D; }
    .blogs-post__text--title {
      color: #323239;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      display: block;
      padding-top: 10px; }
    .blogs-post__text--description {
      color: #46464F;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.01em;
      padding-top: 4px; }

.comments-box {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px; }
  .comments-box .media a img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%; }
  .comments-box .media .media-body {
    margin-left: 10px; }
    .comments-box .media .media-body h5 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #004693; }
    .comments-box .media .media-body p {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #797C8D; }
  .comments-box .description {
    font-size: 14px;
    line-height: 20px;
    color: #46464F;
    padding-top: 10px; }

.contact-form {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
  border-radius: 20px; }
  .contact-form label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #46464F; }
  .contact-form .form-control {
    height: 30px;
    border: none;
    border-bottom: 1px solid #D3E1FF;
    background: transparent;
    padding-left: unset;
    box-shadow: unset;
    border-radius: unset;
    margin-top: 20px; }
    .contact-form .form-control:focus {
      border-bottom: 1px solid #39419A; }
    .contact-form .form-control::placeholder {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px; }
  .contact-form .btn-navigation {
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    margin-top: 20px; }

.info-company {
  padding: 30px;
  background: #D3E1FF;
  border-radius: 20px; }
  .info-company label {
    color: #004693;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px; }
  .info-company .list-contact li {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4472C4;
    margin-top: 20px;
    position: relative; }
    .info-company .list-contact li::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: 0;
      top: -1px; }
    .info-company .list-contact li:nth-child(1)::before {
      background-image: url("../images/icons/phone.svg"); }
    .info-company .list-contact li:nth-child(2)::before {
      background-image: url("../images/icons/email.svg"); }
    .info-company .list-contact li:nth-child(3)::before {
      background-image: url("../images/icons/map.svg"); }
    .info-company .list-contact li p {
      display: block;
      padding-left: 28px; }
  .info-company .social-contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative; }
    .info-company .social-contact::before {
      content: "";
      position: absolute;
      width: 68%;
      height: 1px;
      background: #fff;
      left: 2px;
      top: 50%;
      transform: translateY(-50%); }
    .info-company .social-contact ul {
      display: flex;
      align-items: center; }
      .info-company .social-contact ul li {
        margin-right: 16px; }
        .info-company .social-contact ul li:last-child {
          margin-right: unset; }
        .info-company .social-contact ul li a {
          width: 24px;
          height: 24px; }
          .info-company .social-contact ul li a img {
            width: 100%;
            height: 100%;
            vertical-align: middle; }

.main-breadcumb {
  background: #D3E1FF; }
  .main-breadcumb ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-breadcumb ul li {
      position: relative;
      display: flex;
      align-items: center; }
      .main-breadcumb ul li:first-child::before {
        display: none; }
      .main-breadcumb ul li::before {
        content: "";
        width: 18px;
        height: 28px;
        display: block;
        left: 0;
        top: 0;
        background-image: url("../images/icons/breadcumb_ar.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0px 8px; }
      .main-breadcumb ul li a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #4472C4;
        padding: 4px; }

.blog-post {
  margin-bottom: 30px; }
  .blog-post:last-child {
    margin-bottom: unset; }
  .blog-post__images {
    position: relative;
    display: block;
    padding-top: 66.66%; }
    .blog-post__images img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .blog-post__text--title {
    color: #3C4766;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; }
  .blog-post__text--date {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px; }
    .blog-post__text--date p {
      color: #797C8D;
      font-size: 14px;
      line-height: 20px; }
    .blog-post__text--date a {
      color: #799FF7;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-left: 8px; }
  .blog-post__text--description {
    font-size: 16px;
    line-height: 24px;
    color: #46464F;
    padding-top: 10px; }
  .blog-post__text--read {
    color: #004693;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding-top: 10px; }
    .blog-post__text--read::after {
      content: "\f105";
      font-family: "fontawesome";
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #004693;
      border-radius: 100%;
      color: #004693;
      margin-left: 6.5px; }

.pages-divide {
  display: flex;
  justify-content: center; }
  .pages-divide .pagination {
    display: flex;
    align-items: center; }
    .pages-divide .pagination .page-item {
      margin-right: 16px; }
      .pages-divide .pagination .page-item:last-child {
        margin-right: unset; }
      .pages-divide .pagination .page-item:hover .page-link {
        background: #4472C4;
        color: #fff;
        border-color: #4472C4; }
      .pages-divide .pagination .page-item .page-link {
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        border: 2px solid #799FF7;
        box-sizing: border-box;
        border-radius: 100%;
        font-weight: 500;
        font-size: 12px;
        color: #799FF7;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s; }
        .pages-divide .pagination .page-item .page-link:focus {
          box-shadow: 0 0 0 0.2rem #799ff756;
          border-color: #799ff756; }
      .pages-divide .pagination .page-item.dots:hover .page-link {
        background: none; }
        .pages-divide .pagination .page-item.dots:hover .page-link .dot {
          opacity: 1; }
        .pages-divide .pagination .page-item.dots:hover .page-link:focus, .pages-divide .pagination .page-item.dots:hover .page-link:visited {
          box-shadow: unset;
          border: unset; }
      .pages-divide .pagination .page-item.dots .page-link {
        width: auto;
        border: none;
        background: none;
        padding: 0; }
        .pages-divide .pagination .page-item.dots .page-link .dot {
          width: 6px;
          height: 6px;
          background: #D3E1FF;
          opacity: 0.6;
          border-radius: 100%;
          margin-right: 4px;
          transition: .3s;
          margin-left: unset; }
          .pages-divide .pagination .page-item.dots .page-link .dot:last-child {
            margin-right: unset; }

/*# sourceMappingURL=web_components.css.map */
