@import "varible";

.main-blogs{
    padding-top: 64px;
    padding-bottom: 64px;
}

.blogs-title{
    font-size: 10px;
    border-bottom: 2px solid #D3E1FF;
    margin-bottom: 30px;
    p{
        font-size: 4em;
        font-weight: 500;
        color: $text-color;
    }

    

}

.tiny-breadcumb{
    .breadcrumb{
        background: unset;
        border-radius: unset;
        padding: 10px 0px;
        margin-bottom: unset;
        &-item{
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;

            a{
                color: #004693;
            }

            &.active{
                a{
                    color: $text-color_3;
                }
            }

        }
    }
}

.pages{
    border-top: 2px solid #D3E1FF;
    padding-top: 30px;
    margin-top: 30px;
}