
@import "varible";

.header-main{

    height: 72px;
    display: flex;
    align-items: center;

    @keyframes fade {
        0%{
            opacity: 0.3;
        }

        100%{
            opacity: 1;
        }
    }

    &.stuck{
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
        animation: fade .5s forwards;
        
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .moblie-bar{
        display: none;
    }

    .header-nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo{
        max-width: 100px;
        height: auto;

        img{
            width: 100%;
            vertical-align: middle;
        }
    }

    .main-menu{
        display: flex;
        align-items: center;
        padding-left: 32px;
        li{
            margin-right: 30px;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            color: $text-color;
            position: relative;
            
            
            &:last-child{
                margin-right: unset;
            }

            &.has-child{
                
               a{
                    &::after{
                        content:"\f107";
                        font-family: "fontawesome";
                        color: $text-color;
                        padding-left: 4px;
                        
                    }
               }

                &:hover{
                    ul{
                        display: flex;
                        animation: fade .3s forwards;
                        li{
                            a{
                                color: $text-color;
                            }
                        }
                    }
                }
            }

            @keyframes fade {
                0%{
                    opacity: 0;
                }

                100%{
                    opacity: 1;
                }
            }

            &:hover{
                a{
                    color: $primary-color;

                }
            }

            a{
                transition: .3s;
                position: relative;
                display: block;
            }

            ul{
                position: absolute;
                width: 200px;
                height: auto;
                display: none;
                flex-direction: column;
                background: #fff;
                margin: 0;
                padding: 0;
                border-radius: 6px;
                box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
                z-index: 60;

                li{
                    margin-right: unset;
                    line-height: 1.5;
                    a{
                        padding: 8px 16px;
                        color: $text-color;

                        &::after{
                            display: none;
                        }
                    }
                }
            }

        }
    }

    .download-app{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li{
            margin-right: 13px;
            &:last-child{
                margin-right: unset;
            }
        }
    }
}