@import "varible";


.main-slider{
    .container{
        padding-left: 0;
        padding-right: 0;
    }
}

.banner{
    width: 100%;
    height: auto;
    position: relative;
    font-size: 10px;
    padding-top: 69.2%;
    overflow: hidden;
    img{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__caption{
        position: absolute;
        max-width: 510px;
        background: rgba(249, 252, 255, 0.9);
        border-radius: 20px;
        padding: 30px;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        
        &--title{
            font-weight: 500;
            font-size: 2.8em;
            line-height: 42px;
            color: $primary-color;
            letter-spacing: -0.01em;
            text-transform: uppercase;
        }

        &--descript{
            font-size: 1.8em;
            font-weight: 500;
            color: $text-color_3;
            line-height: 28px;
            padding-top: 30px;
        }

        .btn-navigation{
            margin: auto;
            margin-top: 20px;
        }
    }
    
}

.home-title{
    font-size: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;

    &::after{
        content:"";
        position: absolute;
        width: 200px;
        height: 2px;
        background: #D3E1FF;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        z-index: 6;
        display: block;
    }

    &__main{
        font-weight: 500;
        font-size: 4em;
        line-height: 60px;
        color: $primary-color;
        text-transform: uppercase;
    }

    &__sub{
        font-size: 1.8em;
        color: $text-color_2;
        line-height: 28px;
        padding-top: 10px;
    }
}

.our-advantage{
    .container{
        padding-top: 64px;
        padding-bottom: 64px;
        background: #F9FCFF;
    }
}

.our-app{
    padding: 64px 0px;
    &__box{
        font-size: 10px;
        padding: 30px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
        border-radius: 20px;
        height: 100%;
        &--list{
            font-size: 1.8em;
            li{
                color: $text-color_3;
                line-height: 28px;
                font-weight: 500;
                position: relative;
                margin-bottom: 24px;

                &::before{
                    content:"" attr(data-number) "";
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #799FF7;
                    box-sizing: border-box;
                    border-radius: 100%;
                    background: #fff;
                    color: #799FF7;
                    position: absolute;
                    left: 0;
                    top: -2px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                }

                span{
                    position: relative;
                    display: block;
                    padding-left: 46px;
                }
            }
        }
    }
}

.our-blogs{
    position: relative;
    .container{
        background: #F9FCFF;
        padding-top: 64px;
        padding-bottom: 64px;
    } 
}

.customer-comments{
    .container{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.contact-us{
    .container{
        padding-top: 64px;
        padding-bottom: 64px;
        background: #F9FCFF;
    }
}