@media only screen and (max-width: 1700px){

}

@media only  screen and (max-width: 1600px){

}

@media only  screen and (max-width: 1400px){

}


@media only  screen and (max-width: 1300px){

}

@media only  screen and (max-width: 992px){

}

@media only  screen and (max-width: 886px){
    #footer{
        .row{
            .col-12{
                padding-top: 20px;

            }
        }
    }

    .contact-us{
        .row{
            .col-12{
                &:last-child{
                    padding-top: 20px;
                }
            }
        }
    }

    .our-app{
        position: relative;
        background-image: url("../images/img/img1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .home-title{
            z-index: 6;
        }
        &::before{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.616);
            z-index: 1;
        }


        .row{
            .col-12{
                position: relative;
                z-index: 5;
                &:last-child{
                    display: none;
                }
            }
        }
    }
}


@media only  screen and (max-width: 768px){

}


@media only  screen and (max-width: 576px){
    .header-main{
        position: relative;
        .main-menu{
            display: none;
        }

        .moblie-bar{
            display: block;

            .hc-nav-trigger{
                top: 50%;
                transform: translateY(-50%);
                border: none;
                outline: none;
                background: none;
                color: #4472C4;
            }
        }

        .header-nav{
            &.nav-left{
                margin: auto;
            }

            &.nav-right{
                display: none;
            }
        }
    }

    .banner{
        font-size: 45%;
        &__caption{
            background: rgba(249, 252, 255, 0.67);
            left: 0;
            text-align: left;
            border-radius: unset;

            .btn-navigation{
                height: 30px;
                font-size: 13px;
                margin: 0;
                margin-top: 13px;
                padding: 0px 12px;
                
                .fa{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .main-slider{
        .dots{
            bottom: 7px;
        }
    }

    .home-title{
        font-size: 37%;

        &__main{
            line-height: 30px;
        }
    }

    .our-advantage{
        .row{
            .col-12{
                padding-top: 15px;

                &:first-child{
                    padding-top: unset;
                }
            }
        }
    }

    .icon-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        img{
            width: 90px;
            height: 90px;
            object-fit: cover;
        }
    
        .text{
            padding-top: 0px;
            padding-left: 15px;
            text-align: left;
        }
    }

    .our-app{

        &__box{
            font-size: 45%;

            &--list{
                li{
                    &::before{
                        width: 30px;
                        height: 30px;
                        top: -1px;
                    }

                    span{
                        padding-left: 42px;
                    }
                }
            }
        }

        .row{
            .col-12{
                position: relative;
                z-index: 5;
                &:last-child{
                    display: none;
                }
            }
        }

        .btn-navigation{
            height: 30px;
            font-size: 13px;
            margin: 0;
            margin-top: 13px;
            padding: 0px 12px;
            
            .fa{
                width: 18px;
                height: 18px;
            }
        }
    }

    .info-company{
        .social-contact{
            &::before{
                display: none;
            }
        }
    }

    .blog-post{
        &__text{
            padding-top: 10px;
        }
    }

    .blogs-title{
        font-size: 50%;
    }

    .tiny-breadcumb{
        .breadcrumb{
            &-item{
                font-size: 14px;
            }
        }
    }

    #footer{
        .row{
            .col-12{
                padding-top: 20px;

                &:first-child{
                    padding-top: unset;
                }
            }
        }
    }
}


@media only  screen and (max-width: 400px){

}
