
// ---------------------------- primary - color ---------------------

$primary-color: #004693;
$primary-color_2: #4472C4;
$primary-color_3: #799FF7;
$primary-color_4: #D3E1FF;


// -----------------------------secondary - color -----------------------


$secondary-color: #F2F4FB;
$secondary-color_2: #F9FCFF;


// ----------------------------- text - color -------------------------

$text-color: #323239;
$text-color_2: #46464F;
$text-color_3: #797C8D;
$text-color_4: #B8BAC1;

// ---------------------------- status - color --------------------------


$status-sucess: #27AE60;
$status-danger: #BA1D1D;


// --------------------------- font family -------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');