
@import "varible";

.btn-navigation{
    width: max-content;
    height: 46px;
    border: none;
    outline: none;
    letter-spacing: -0.01em;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    background: #4472C4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    transition: .3s;

    .fa{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 100%;
        margin-left: 6.5px;
    }

    &:hover{
        background: #365b9b;
        color: #fff;
    }
}

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .text{
        padding-top: 30px;
        text-align: center;
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $primary-color_2;
        }
    }
}

.blogs-post{
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
    border-radius: 20px;
    overflow: hidden;
    &__images{
        a{
            position: relative;
            padding-top: 72.6%;
            overflow: hidden;
            display: block;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

    }

    &__text{
        padding-top: 10px;
        &--cate{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .link{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: $primary-color;
            }

            .date{
                font-weight: 300;
                font-size: 12px;
                line-height: 18px;
                color: $text-color_3;
            }
        }

        &--title{
            color: $text-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: block;
            padding-top: 10px;
        }

        &--description{
            color: $text-color_2;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
            padding-top: 4px;
        }
    }
}

.comments-box{
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
    border-radius: 20px;
    .media{
        a{
            img{
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 100%;
            }
        }

        .media-body{
            margin-left: 10px;
            h5{
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: $primary-color;
            }

            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: $text-color_3;
            }
        }
    }

    .description{
        font-size: 14px;
        line-height: 20px;
        color: $text-color_2;
        padding-top: 10px;
    }
}

.contact-form{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(140, 141, 154, 0.1);
    border-radius: 20px;
    label{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $text-color_2;
    }

    .form-control{
        height: 30px;
        border: none;
        border-bottom: 1px solid #D3E1FF;
        background: transparent;
        padding-left: unset;
        box-shadow: unset;
        border-radius: unset;
        margin-top: 20px;
        

        &:focus{
            border-bottom: 1px solid #39419A;
            
        }

        &::placeholder{
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .btn-navigation{
        height: 36px;
        font-weight: 500;
        font-size: 14px;
        outline: none;
        margin-top: 20px;

    }
}

.info-company{
    padding: 30px;
    background: #D3E1FF;
    border-radius: 20px;
    label{
        color: $primary-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .list-contact{
        li{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $primary-color_2;
            margin-top: 20px;
            position: relative;
            &::before{
                content:"";
                position: absolute;
                width: 20px;
                height: 20px;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                left: 0;
                top: -1px;
            }

            &:nth-child(1){
                &::before{
                    background-image: url("../images/icons/phone.svg");
                }
            }

            &:nth-child(2){
                &::before{
                    background-image: url("../images/icons/email.svg");
                }
            }

            &:nth-child(3){
                &::before{
                    background-image: url("../images/icons/map.svg");
                }
            }
            p{
                display: block;
                padding-left: 28px;
            }
        }
    }

    .social-contact{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 20px;
        position: relative;

        &::before{
            content:"";
            position: absolute;
            width: 68%;
            height: 1px;
            background: #fff;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
        }

        ul{
            display: flex;
            align-items: center;

            li{
                margin-right: 16px;

                &:last-child{
                    margin-right: unset;
                }
                a{
                    width: 24px;
                    height: 24px;
                    img{
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;

                    }
                }
            }
        }
    }
}

.main-breadcumb{
    background: #D3E1FF;
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li{
            position: relative;
            display: flex;
            align-items: center;
            &:first-child{
                &::before{
                    display: none;
                }
            }

            &::before{
                content:"";
                width: 18px;
                height: 28px;
                display: block;
                left: 0;
                top: 0;
                background-image: url("../images/icons/breadcumb_ar.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin: 0px 8px;
            }
            a{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: $primary-color_2;
                padding: 4px;
            }
        }
    }
}

.blog-post{
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: unset;
    }

    &__images{
        position: relative;
        display: block;
        padding-top: 66.66%;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &__text{
        &--title{
            color: #3C4766;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }

        &--date{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 10px;
            
            p{
                color: #797C8D;
                font-size: 14px;
                line-height: 20px;
            }

            a{
                color: #799FF7;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-left: 8px;
            }
        }

        &--description{
            font-size: 16px;
            line-height: 24px;
            color: $text-color_2;
            padding-top: 10px;
        }

        &--read{
            color: $primary-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            padding-top: 10px;

            &::after{
                content:"\f105";
                font-family: "fontawesome";
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $primary-color;
                border-radius: 100%;
                color: $primary-color;
                margin-left: 6.5px;
            }
        }
    }

}

.pages-divide{
    display: flex;
    justify-content: center;
    .pagination{
        display: flex;
        align-items: center;

        .page-item{

            margin-right: 16px;

            &:last-child{
                margin-right: unset;
            }


            &:hover{
                .page-link{
                    background: $primary-color_2;
                    color: #fff;
                    border-color: $primary-color_2;
                }
            }

            .page-link{
                width: 32px;
                height: 32px;
                background: #FFFFFF;
                border: 2px solid #799FF7;
                box-sizing: border-box;
                border-radius: 100%;
                font-weight: 500;
                font-size: 12px;
                color: #799FF7;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;

                &:focus{
                    box-shadow: 0 0 0 0.2rem #799ff756;
                    border-color: #799ff756;
                }
            }

            &.dots{
                &:hover{
                    .page-link{
                        background: none;
                        .dot{
                            opacity: 1;
                        }

                        &:focus, &:visited{
                            box-shadow:unset;
                            border: unset;
                        }
                    }
                }



                .page-link{
                    width: auto;
                    border: none;
                    background: none;
                    padding: 0;

                    .dot{
                        width: 6px;
                        height: 6px;
                        background: #D3E1FF;
                        opacity: 0.6;
                        border-radius: 100%;
                        margin-right: 4px;
                        transition: .3s;
                        margin-left: unset;

                        &:last-child{
                            margin-right: unset;
                        }
                    }
                }
            }
        }
    }
}